@import "tailwindcss";

/* globals.css */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--bg-primary);
}
::-webkit-scrollbar-thumb {
  background-color: var(--bg-active-hover);
  border-radius: 9999px;
}


/* Global CSS Variables */
:root {
  /* Text Colors */
  --text-primary: #1f2937;
  --text-secondary: #4b5563;
  --text-muted: #6b7280;
  --text-white: #f9fafb;
  --text-link: #3b82f6; /* blue-500 */
  --text-link-hover: #1d4ed8;
  
  /* Background Colors */
  --bg-primary: #ffffff;
  --bg-secondary: #f9fafb;
  --bg-secondary-dark: #111827;
  --bg-active-hover: #e5e7eb;
  --bg-hover: #374151;
  
  /* Border Colors */
  --border-light: #e5e7eb;
  --border-medium: #d1d5db;
  --border-dark: #9ca3af;
  --border-nav : #3c3c3c;
  
  /* Status Colors */
  --success: #10b981;
  --warning: #f59e0b;
  --error: #ef4444;
  --info: #3b82f6;
}

/* Dark Mode Variables */
.dark {
  --text-primary: #f9fafb;
  --text-secondary: #d1d5db;
  --text-muted: #9ca3af;
  --text-black: #1f2937;
  --text-white: #f9fafb;
  --text-link: #3b82f6; /* blue-500 */
  --text-link-hover: #1d4ed8;
  
  --bg-primary: #112327;        /* dark slate / neutral */
  --bg-secondary: #111827;      /* navy-gray vibe */
  --bg-secondary-dark: #030712; /* almost black */
  --bg-active-hover: #dbeafe;
  --bg-hover : #1e3a8a;

  
  --border-light: #374151;
  --border-medium: #4b5563;
  --border-dark: #6b7280;
  --border-nav : #3c3c3c;      /* dark is comform*/
}
